* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: $font-size;
  color: $font-color;
  height: 100%;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  height: 100%;
  font-family: $font-base;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: $background-color;
  color: var(--color-gray-9) !important;
  overflow: hidden;
}

pre {
  overflow: auto;
}

code {
  background: var(--background-code-theme);
  border-radius: 0.125rem;
  border: 0.063rem solid var(--color-gray-300);
  color: var(--color-gray-9);
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
