.sidebar--container {
  .sidebar {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;

    justify-content: space-between;

    .sidebar__actions {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;
      flex-grow: 1;
    }
  }
}
