button {
  appearance: none;
  background-color: transparent;

  padding: 0.15rem 0.5rem;

  border: 2px solid var(--color-contrast-3);
  color: var(--color-contrast-3);
  border-radius: 20px;

  font-weight: bold;

  cursor: pointer;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.25rem;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    border: 2px solid var(--color-gray-5);
    color: var(--color-gray-5);
    opacity: 0.6;
    cursor: not-allowed;
  }
}
