@mixin sidebarDirectionalArrows($name) {
  width: 0.625rem;
  height: 0.625rem;
  background: url('../../../assets/icons/svg/#{$name}');
  background-repeat: no-repeat !important;
  background-size: 0.625rem 0.625rem;
  position: initial;
  -webkit-filter: var(--color-icon-default);
  filter: var(--color-icon-default);
}

// .fk-seta_direcional_direita {
//   @include sidebarDirectionalArrows('seta_direcional_direita.svg');
// }

// .fk-seta_direcional_esquerda {
//   @include sidebarDirectionalArrows('seta_direcional_esquerda.svg');
// }
