:root[theme='dark'] {
  --color-white: #eceff1;

  // Gray
  --color-gray-0: #1c1c1c;
  --color-gray-1: #4d4d4d;
  --color-gray-2: #222222;
  --color-gray-3: #666666;
  --color-gray-4: #222222;
  --color-gray-5: #737373;
  --color-gray-6: #8c8c8c;
  --color-gray-7: #e0e0e0;
  --color-gray-8: #e5e5e5;
  --color-gray-9: #f4f4f4;
  --color-tertiary: #292929;
  --color-secondary: #161616;
  --color-background: var(--color-gray-1);

  --color-primary: #e87313;

  --color-contrast: #b313e8;
  --color-complement: #3dacd9;

  --color-warning: #eec600;
  --color-success: #00ee7b;
  --color-danger: #ee0000;
}
