<div class="card--container">
  <form>
    <div class="input--container">
      <label for="codigo">Código</label>
      <input id="codigo" type="text" />
    </div>

    <div class="input--container descricao">
      <label for="descricao">Descrição</label>
      <input id="descricao" type="text" />
    </div>
  </form>

  <div class="table--container">
    <table>
      <thead>
        <th class="codigo">Código</th>
        <th class="descricao">Descricao</th>
        <th class="acoes"></th>
      </thead>
      <tbody>
        @for (loja of lojaList; track loja.id) {
          <tr>
            <td>{{ loja.id }}</td>
            <td>{{ loja.descricao }}</td>
            <td>
              <fk-btn-small-edit></fk-btn-small-edit>
              <fk-btn-small-remove></fk-btn-small-remove>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
